<% if current_user.present? %>
  <div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
      <%= button_to "Create Event A", action: "create_event_a", method: :post, class: "btn btn-primary" %>
      <%= button_to "Create Event B", action: "create_event_b", method: :post, class: "btn btn-primary" %>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Requested at</th>
          <th>Requested by</th>
          <th>Event Type</th>
          <th>Is synced</th>
          <th>Is Email delivered</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.id %></td>
            <td><%= event.requested_at %></td>
            <td><%= event.user&.email %></td>
            <td><%= event.event_type %></td>
            <td><%= event.is_synced %></td>
            <td><%= event.is_email_delivered %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>